<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') -%>
</head>

<body>

    <%- include('partials/header.ejs') -%>

    <div class="inner">

        <h1><%= title %></h1>

        <h2><%= evenement.datum %></h2>

        <h2>Genres:</h2>
        <ul>
            <% evenement.genres.forEach(function(genre){ %>
            <li><%= genre %></li>
            <% }) %>
        </ul>

        <p><%= evenement.locatie %></p>

    </div>

    <%- include('partials/footer.ejs') -%>

</body>

</html>