<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') -%>
</head>

<body>

    <%- include('partials/header.ejs') -%>

    <div class="inner">

        <h1><%= title %></h1>

        <h2><%= movie.year %></h2>

        <h2>Categories:</h2>
        <ul>
            <% movie.categories.forEach(function(category){ %>
            <li><%= category %></li>
            <% }) %>
        </ul>

        <p><%= movie.storyline %></p>

    </div>

    <%- include('partials/footer.ejs') -%>

</body>

</html>