<%- include('partials/head'); -%>
<body>
    <%- include('partials/header'); -%>
    <main>
        <section>
            <h2>
                Resultaten
            </h2>
            <p>Resultaten voor: 
                <%= zoekopdracht.genre %>
                <%= zoekopdracht.datum %>
                <%= zoekopdracht.locatie %>
            </p>
        </section>
        <section>
            <h3>Festivals met <%= zoekopdracht.genre %>:</h3>
            <section>
                <p>
                    <% resultaten.forEach(function(zoekResultaten) { %>
                        <p><%= resultaten %></p>
                    <% }) %>
                </p>
            </section>
        </section>
    </main>

    <%- include('partials/footer'); -%>
    <script src="../static/scripts/script.js"></script>
</body>

</html>